.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/

*.log

.env
.env.*
*.env

backend/app.db
backend/databases/app.db

*.sqlite3
*.db
*.bak


alembic.ini
alembic/
alembic/*.log


node_modules/
dist/
build/
.cache/
.next/
.vite/
*.tsbuildinfo

package-lock.json
yarn.lock
pnpm-lock.yaml


.vscode/

.idea/
*.iml

*.swp
*.swo

.DS_Store
Thumbs.db
